.containerAddingExercises {  
    background-color: #233d4d;
    padding: 20px;
    color: #f3e6d8;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 225px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controlsButton{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}