.exercis{
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
    font-size: 20px;
    background-color: #233d4d;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    color: #f3e6d8;
    cursor: pointer;
}
