@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  

body {
  background-color: #fe7f2d;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: #2d2427;

}

.App {
  display: grid;
  justify-content: center;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 450;
  padding: 20px;
}
