@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  

body {
  background-color: #fe7f2d;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: #2d2427;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 450;
  padding: 20px;
}

.buttons {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
    font-size: 20px;
    background-color: #233d4d;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    color: #f3e6d8;
    cursor: pointer;
}
